<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Luna Atra Network</title>

    {% stylesheets 
      
      'bundles/lancore/css/bootstrap.min.css'
      'bundles/lancore/css/bootstrap-theme.min.css'

       filter='less, cssrewrite'
      output="Resources/css/all.css"
    %}
      <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}

    {% javascripts
      '@LanCoreBundle/Resources/public/js/bootstrap.min.js'
       %}
      <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>

<body>

{% block header %}
{% include "LanCoreBundle::header.html.twig" %}
{% endblock header %}

{% block main %}
{% endblock main %}

{% block footer %}
{% include "LanCoreBundle::footer.html.twig" %}
{% endblock footer %}


</body>
</html>