<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Luna Atra Network</title>

    {# CSS PART #}
    {# libraries #}
    {% stylesheets 
        'bundles/lancore/css/bootstrap.min.css'
        'bundles/lancore/css/bootstrap-theme.min.css'

         filter=' cssrewrite'
        output="Resources/css/all.css"
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}

    {# custom #}

    {% stylesheets 
            'bundles/lancore/css/main.less'
            'bundles/lancore/css/header.less'
            'bundles/lancore/css/queries.less'
             filter='less, cssrewrite'
            output="Resources/css/prod.css"
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}



    {# JAVASCRIPT PART #}
    {% if app.environment == "dev" %}
    {% javascripts
        '@LanCoreBundle/Resources/public/js/jquery-1.11.2.js'
        '@LanCoreBundle/Resources/public/js/bootstrap.js'
        '@LanCoreBundle/Resources/public/js/notify.min.js'
        '@LanCoreBundle/Resources/public/js/main.js'
     %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% else %}
    {% javascripts
        '@LanCoreBundle/Resources/public/js/jquery-1.11.2.min.js'
        '@LanCoreBundle/Resources/public/js/bootstrap.min.js'
        '@LanCoreBundle/Resources/public/js/notify.min.js'
        '@LanCoreBundle/Resources/public/js/main.js'
     %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% endif %}

    {% block topjs %}
    {% endblock topjs %}
</head>

<body>

{% block header %}
{% include "LanCoreBundle::header.html.twig" %}
{% endblock header %}

{% block main %}
{% endblock main %}

{% block footer %}
{% include "LanCoreBundle::footer.html.twig" %}
{% endblock footer %}

{% include "LanCoreBundle::notification.html.twig" %}
{% block bottomjs %}
{% endblock bottomjs %}

</body>
</html>