{% extends "LanCoreBundle::layout.html.twig" %}

{% block main %}

<div class="blurred-image banniere-image">
<div class="image"></div>
    <div id="" class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="big-picture">
                    <div id="trophy-home" class="col-sm-3 hidden-xs">
                            
                    </div>
                    <div id="punchline" class="col-sm-9">
                        <div>
                            <p>
                                Rejoignez Luna Atra Network, créez, participez et remportez vos propres tournois PvP de votre jeu préféré.
                            </p>
                            <p>
                                <a href="" class="btn btn-empty big-btn btn-flat">Découvrir</a> 
                                <a href="" class="btn btn-success big-btn btn-flat">Créer un compte</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </div>
</div>

{% endblock main %}